.nav {
	background-image: url('http://www.beckfordsilk.co.uk/wp-content/uploads/2014/07/Bottle-Green4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 80px;
	margin-top: -25px;
	width: 100%;
}

.nav h1 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  display: block;
  position: relative;
  top: 23px;
}

.nav button {
  display: inline;
  float: right;
  width: 100px;
}

.summary {
  height: 620px;
  width: 100%;
  background-size: cover;
  background-image: url('https://performancemarks.files.wordpress.com/2013/06/quiet-cream-satin.jpg');
  background-repeat: no-repeat;
}

.summary .container {
  position: relative;
  top: 30px;
  left: 10px;
  right: 10px;
}

.summary section {
  color: #800000;
  font-size: 20px;  
  font-weight: bold;
  text-align: center;
  margin-right: 15px;
}

.summary p {
	display: inline;
	font-size: 20px;
	color: #FF4500;
	margin-left: 200px;
	font-family: cursive;
	margin-bottom: 50px;
}

.summary p:hover {
	background-color: yellow;
}

.summary h2 {
	color: #092E20;
	font-family: sans-serif;
	text-transform: uppercase;
}

.summary li {
	font-size: 20px;
	color: #234F32;
	list-style-type: none;
	margin-left: -15px;
}

.summary .image {
	height: 450px;
	width: 730px;
	float: right;
	border-radius: 10px;
	border: 3px solid black;
	position: relative;
	right: 30px;
	overflow: hidden;
	box-shadow: 5px 5px 5px #888888;
	margin-top: 10px;
}

.image img {
	height: 450px;
	width: 730px;
}

.image img:hover {
	height: 600px;
	width: 850px;
}

.summary .ingredients {
	float: left;
	height: 450px;
	width: 450px;
	margin-top: 10px;
}

.ingredients img {
	height: 100px;
	width: 100px;
	border-radius: 10px;
	border: 3px solid black;
	margin-top: 20px;
	box-shadow: 5px 5px 5px #888888;
}

.ingredients img:hover {
	position: absolute;
	z-index: 1;
	height: 200px;
	width: 200px;
	margin-top: -35px;
}

.ingredients .image_2 {
	display: inline-block;
	height: 106px;
	width: 106px;
}

.directions {
	background-image: url('http://www.beckfordsilk.co.uk/wp-content/uploads/2014/07/Bottle-Green4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -25px;
	height: 300px;
	width: 100%;
}

.directions h2 {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.directions li {
	color: #fff;
	margin-top: 5px;
}

.directions .container {
  position: relative;
  top: 50px;
  left: 20px;
  width: 95%;
}

.directions img {
	height: 180px;
	width: 180px;
	border-radius: 100%;
	border: 3px solid black;
	float: right;
}

.directions img:hover {
	transition-delay: .3s;
    transform: rotate(-15deg);
}

.directions button {
    float: right;
    position: relative;
    right: 230px;
}